schema/lim.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="https://tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Schema and Encoding Guidelines for the <title level="m">Lyon in Mourning</title> Project</title>
      </titleStmt>
      <publicationStmt>
        <p>Probably free?</p>
      </publicationStmt>
      <sourceDesc>
        <p>No source; born digital.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <tagsDecl>
        <rendition xml:id="rnd_code">
           font-family: monospace;
        </rendition>
      </tagsDecl>
      <listPrefixDef>
        <prefixDef ident="doc" matchPattern="(.+)(#.+)?" replacementPattern="$1.xml$2">
          <p>Mechanism for pointing to a document in the repository. E.g. <val>doc:vol11_vol1</val>.</p>
        </prefixDef>
      </listPrefixDef>
    </encodingDesc>
  </teiHeader>
  <text>
    <front>
      <div>
        <head>Encoding Guidelines</head>
        <p>This document serves as the documentation for <title level="m">The Lyon in Mourning: Networking Jacobites</title> (LiM). At the moment, what follows is a collection of notes to help with planning the project's structure and workflow; as decisions are made and plans are concretized, this document will be updated to reflect the actual encoding principles and guidelines.</p>
      </div>
    </front>
    <body>
      <div>
        <head>Setup</head>
        <div>
          <head>Downloading the Repository</head>
          <p>Instructions for downloading the repository</p>
        </div>
        <div>
          <head>The Repository Structure</head>
          <list type="tree" rendition="#rnd_code">
            <item>root/
              <list>
                <item>data/
                  <list>
                    <item>volumes/
                      <list>
                        <item>vol1/
                          <list>
                            <item>???</item>
                          </list>
                        </item>
                        <item>vol2/</item>
                        <item>+++</item>
                        <item>vol11/
                          <list>
                            <item>vol11_vol1.xml</item>
                            <item>vol11_vol2.xml</item>
                            <item>+++</item>
                          </list>
                        </item>
                      </list>
                    </item>
                    <item>people.xml</item>
                    <item>places.xml</item>
                    <item>organizations.xml</item>
                  </list>
                </item>
                <item>
                  schema/
                  <list>
                    <item>lim.odd</item>
                    <item>lim.rng</item>
                  </list>
                </item>
                <item>lim.xpr</item>
              </list>
            </item>
          </list>
        </div>
      </div>
      <div>
        <head>GitHub Workflow</head>
        <div>
          <head>Committing Changes</head>
          <p>Instructions for committing changes</p>
        </div>
        <div>
          <head>Pushing Changes</head>
          <p>Instructions for pushing changes to the </p>
        </div>
        <div>
          <head>Updating Your Local Copy</head>
        </div>
      </div>
      <div>
        <head>Encoding Guidelines</head>
        <div>
          <head>Table of Contents</head>
          <p>How to encode the table of contents</p>
          <div>
            <head>Components of an Item</head>
            <p>Discuss how each item should be structured: numbers and titles.</p>
          </div>
        </div>
        <div>
          <head>People/Places/Organizations</head>
          <p>TODO: Determine how to encode people/places/organizations. VIAF? Geonames?</p>
        </div>
        <div>
          <head>Emendations, Marginalia, and other Annotations</head>
          <p>Instructions for encoding notes, labels, annotations, as well as deletions, additions.</p>
        </div>
        <div>
          <head>Editorial Decisions and Uncertainty</head>
          <p>How to add editorial notes, uncertainty, supplied, gaps.</p>
        </div>
      </div>
      
      
      <!--<div>
        <head>Possible Approach</head>
        <list rend="simple">
          <item>Encoding starts with the eleventh volume since it is the index for the entire manuscript</item>
          <item>The encoding for that volume would be fairly straightforward:
            <list rend="simple">
              <item>Each volume is a <gi>list</gi> with each index entry as an <gi>item</gi></item>
              <item>The item should have a fairly simple structure; probably something like:
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <item>
                  <rs><!-\-Title of the item-\-></rs>
                  <num><!-\-Page number-\-></num>
                </item>
              </egXML>
              
              We would not want to capture any of the source information here (i.e. not tagging the genre or medium of the piece). We may, however, want to start tagging people and places (or at least begin identifying the people, places, etc in the text.
              </item>
              <item>I'm not sure, though, whether or not we'd want to encode some corrections/expansions/etc in the title. We probably will want that information anyway, though, so we may do something like:
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <item>
                    <rs>Letter from the <choice><abbr>Revt.</abbr><expan>Reverend</expan></choice> Mr. Robert Lyon to his mother <choice><abbr>+</abbr><expan>and</expan></choice> Sisters</rs>
                    <num>1</num>
                  </item>
                </egXML>
                
                If we start identifying pieces of information in the text, we want to do something like:
                
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <item>
                    <rs>Letter from the <choice><abbr>Revt.</abbr><expan>Reverend</expan></choice> Mr. <persName key="Robert Lyon">Robert Lyon</persName> to his mother <choice><abbr>+</abbr><expan>and</expan></choice> Sisters</rs>
                    <num>1</num>
                  </item>
                </egXML>
                
             If we used the <att>key</att> approach, then we could harvest all of the names/places <emph>after</emph> the index is encoded, which provides a basic structure for research later (i.e. we have all of the names and places, or the vast majority of them).
                
              </item>
            </list>
          
          </item>
          <item>Once the the eleventh volume is encoded, then the index is used to generate all of the constituent files in the volume. So each <gi>item</gi> becomes a file with each <gi>rs</gi> gaining a <att>target</att> that points to the new file.</item>
          
        </list>
        
        <p>For the rest of the volumes, we may want to have a structure where:
          <list>
            <item>Each volume has an index file named the same as the directory:
                  <list rendition="#rnd_code">
                    <item>vol1/
                      <list>
                        <item>vol1.xml</item>
                      </list>
                    </item>
                  </list>
            </item>
            <item>The index file is a <gi>teiCorpus</gi> element that contains information about the facsimile and the metadata for the entire volume:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <teiCorpus xml:id="vol1">
                <teiHeader>
                  <fileDesc>
                    <titleStmt>
                      <title>The Lyon in Mourning Vol. 1</title>
                      <!-\-More metadata-\->
                    </titleStmt>
                  </fileDesc>
                  <!-\-Lots more metadata about the entire manuscript: provenance, editors, date of creation, etc-\->
                </teiHeader>
                <facsimile>
                  <surface xml:id="vol1_0001">
                    <graphic url="path/to/images/0001"/>
                  </surface>
                  <surface xml:id="vol1_0002">
                    <graphic url="path/to/images/0002"/>
                  </surface>
                </facsimile>
                <!-\-[...]-\->
              </teiCorpus>
            </egXML>
              The suggestion to use a <gi>teiCorpus</gi> stems from the need for complex, structured metadata for each individual item, which is best done through the <gi>teiHeader</gi> (probably using the suite of elements contained in <gi>textDesc</gi> and/or taxonomies encoded using <gi>taxonomy</gi>, <gi>category</gi> and <gi>catRef</gi>).
            </item>
            
          </list>
        
        </p>
        
      </div>
      <div>
        <head>Questions to work through</head>
        <list>
          <item>
            <label>Best way to include the documents into the corpus?</label>
            <p>We could use XIncludes: that would be a formal and broadly processable way of handling the structure (but it would mean that all of our schemas/processing/etc would need to know how to handle them properly; Saxon think it does, but it can be a bit messy or wrong). An alternative approach could be to use processing-instructions, which would be a custom solution.</p>
            <p>Or, since the <gi>text</gi> element is allowed in <gi>teiCorpus</gi>, we could organize the information using text and structure it with pointers or something else:
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <text>
                <front>
                  <linkGrp>
                    <ptr target="foo.xml"/>
                    <ptr target="bar.xml"/>
                  </linkGrp>
                </front>
                <body>
                  <linkGrp>
                    <ptr target="baz.xml"/>
                    <ptr target="blort.xml"/>
                  </linkGrp>
                </body>
              </text>
            </egXML>
            That might the right way to do it, since that would basically provide the true TOC for that collection that better structures the corpus as a whole.
            </p>
          </item>
          <item>
            <label>How to Name Documents?</label>
          </item>
          <item>
          </item>
        </list>
      </div>
      -->
    </body>
    <back>
      <div>
        <head>Appendix</head>
        <schemaSpec ident="lim" start="TEI div">
          
          <!--CORE-->
          <moduleRef key="core" include="abbr author bibl choice corr date del desc divGen editor emph expan foreign gap gloss graphic head hi imprint item l label lb lg list listBibl mentioned milestone name note num orig p pb ptr pubPlace publisher quote ref reg resp respStmt sic term title unclear"/>

          
          <!--Not sure we need anything from corpus: check proposal-->
          <!--<moduleRef key="corpus"/>-->
          <!--Adding a lot of GAIJI module stuff, since I imagine we'll be
          dealing with some unfamiliar characters?-->
          <moduleRef key="gaiji" include="char charDecl charName charProp g glyph glyphName mapping unicodeName unicodeProp"/>
          <elementSpec ident="g" module="gaiji" mode="change">
            <constraintSpec ident="div.onlyRootWithIndexAndVolume11" scheme="schematron" mode="add">
              <desc>All glyph pointers should have a @ref and point to something in the glyphs file.</desc>
              <constraint>
                <sch:pattern>
                  <sch:rule context="tei:g">
                    <sch:let name="ref" value="@ref"/>
                    <sch:assert test="matches($ref,'g:')">ERROR: All glyphs must have an @ref that points to a glyph using the 'g:' prefix (e.g. ref="g:plus").</sch:assert>
                    <sch:assert test="exists($glyphs[@xml:id = substring-after($ref,'g:')])">ERROR: Cannot find glyph <sch:value-of select="substring-after($ref,'g:')"/>.</sch:assert>
                  </sch:rule>
                </sch:pattern>
              </constraint>
            </constraintSpec>
            
          </elementSpec>
          
          
          
          <!--Add quite a few of the header elements, but we may need more-->
          <moduleRef key="header" include="abstract catDesc catRef category change correspAction correspContext correspDesc encodingDesc fileDesc handNote idno listChange listPrefixDef notesStmt prefixDef profileDesc projectDesc publicationStmt rendition revisionDesc sourceDesc tagsDecl taxonomy teiHeader textClass titleStmt"/>
          
          <moduleRef key="linking" include="linkGrp ptr"/>
          
          <!--We may need some components from msdescription, but it depends-->
          <!--<moduleRef key="msdescription"/>-->
          
          <moduleRef key="namesdates" include="addName birth death faith floruit forename genName langKnowledge langKnown listOrg listPerson listPlace location nameLink nationality occupation org orgName persName person persona place placeName residence roleName surname"/>
          
          <!--Include all attributes-->
          <moduleRef key="tei"/>
          
          <!-- TEXTSTRUCTURE -->
          <moduleRef key="textstructure"
            include="TEI body byline closer dateline div docAuthor docDate docEdition docImprint docTitle epigraph front imprimatur opener postscript salute signed titlePart text trailer"/>
          
          <elementSpec ident="div" mode="change" module="textstructure">
            <constraintSpec ident="div.onlyRootWithIndexAndVolume11" scheme="schematron" mode="add">
                <desc>Only index divs are allowed as a root div element and only for vol 11.</desc>
                <constraint>
                  <sch:pattern>
                    <sch:rule context="/tei:div">
                      <sch:assert test="@type = 'index'">ERROR: Only divisions with @type='index' are allowed
                      as root elements.</sch:assert>
                      <sch:assert test="matches(document-uri(/),'vol11_')">ERROR: Only use root divs for volume 11.</sch:assert>
                    </sch:rule>
                  </sch:pattern>
                </constraint>
            </constraintSpec> 
              <attList>
                <attDef ident="type" mode="change">
                    <valList mode="add" type="closed">
                      <valItem ident="index">
                        <gloss>index</gloss>
                        <desc>An index/table of contents for a single volume.</desc>
                      </valItem>
                      <valItem ident="preface">
                        <gloss>preface</gloss>
                        <desc>A preface or some prefatory matter to a volume or text.</desc>
                      </valItem>
                    </valList>
                </attDef>
              </attList>

          </elementSpec>
          
          <moduleRef key="transcr"
            include="damage damageSpan delSpan facsimile fw handNotes handShift metamark supplied surface surfaceGrp zone"/>
          <elementSpec ident="fw" module="transcr" mode="change">
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList mode="add" type="closed">
                  <valItem ident="pageNum">
                    <gloss>page number</gloss>
                    <desc>A page number, usually written on the top left or right hand sides of a page.</desc>
                  </valItem>
                  <valItem ident="catchword">
                    <gloss>catchword</gloss>
                    <desc>A catchword, usually on the bottom right of the page.</desc>
                  </valItem>
                  <valItem ident="sig">
                    <gloss>signature</gloss>
                    <desc>A page signature, usually on the bottom center of the page.</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
            
          </elementSpec>
          
          
          <!--Global variables for constraints-->
          <constraintSpec scheme="schematron" ident="global.variables">
            <desc>Global variables for use across the schematron.</desc>
            <constraint>
              <sch:pattern>
                <sch:let name="id" value="/tei:*/@xml:id"/>
                <sch:let name="uri" value="document-uri(/)"/>
                <sch:let name="basename" value="tokenize($uri,'[/\\\.]')[last() - 1]"/>
                <sch:let name="pd" value="replace($uri,'^(.+[/\\]lim-tei[\\/]).+$', '$1')"/>
                <sch:let name="dataDir" value="replace($pd,'(.+(.))$','$1data$2')"/>
                <sch:let name="glyphs"
                  value="document($dataDir || 'glyphs.xml')//tei:glyph[@xml:id]"/>
                
              </sch:pattern>
     
            </constraint>
          </constraintSpec>
          
          <!--GLOBAL CONSTRAINTS-->
          <constraintSpec scheme="schematron" ident="global.rootIdMustMatchDocument">
            <desc>The rootid must be the same as the document's name.</desc>
            <constraint>
              <sch:pattern>
                <sch:rule context="/tei:*">
                  <sch:assert test="$basename = $id">
                    ERROR: Document's @xml:id (<sch:value-of select="$id"/>) must match the document's base filename
                    (<sch:value-of select="$basename"/>)
                  </sch:assert>
                </sch:rule>
              </sch:pattern>
            </constraint>
          </constraintSpec>
          

          
          
    
          
          
        </schemaSpec>
      </div>
    </back>
  </text>
</TEI>
